<h1>Nouvelle action</h1>

<div class="content">
  <%= simple_form_for @day_action , url: day_actions_path, class: 'form-horizontal' do |f| %>
      <div class="form-inputs">
        <%= f.input :day,
                    as: :date,
                    order:[:month, :year],
                    html5:true,
                    label: "Jour",
                    input_html: {value: Date.today },
                    class: 'form-control'
        %>
        <%= f.input :importance,
                    label: "Importance de l'action",
                    as: :numeric,
                    class: 'form-control'
        %>
        <%= f.input :hours,
                    label: "Heures",
                    as: :numeric,
                    class: 'form-control'
        %>
        <%= f.input :minutes,
                    label: "Minutes",
                    as: :numeric,
                    class: 'form-control'
        %>
        <%= f.input :action,
                    label: "Action à réaliser",
                    class: 'form-control'
        %>
        <%= f.input :result,
                    label: "Résultat attendu",
                    class: 'form-control'
        %>
        <%= f.input :target,
                    label: "But ultime",
                    class: 'form-control'
        %>
      </div>

      <div class="form-actions">
        <%= f.submit 'Ajouter', class: 'btn btn-default' %>
      </div>


  <% end %>
</div>


<%= link_to 'Back', day_actions_path %>
