<h1>Editing Deadline</h1>

<div class="content">

  <%= simple_form_for @deadline , url: domain_deadline_path(@domain, @deadline), class: 'form-horizontal' do |f| %>
      <%= f.label :deadline, "Date d'échéance" %>
      <%= f.input :deadline,
                  as: :date,
                  start_year: Date.today.year,
                  order:[:month, :year],
                  placeholder: "Date",
                  html5:true,
                  label: "Échéance",
                  class: 'form-control' %>

      <%= f.input :result,
                  as: :text,
                  placeholder: "Quel est le résultat attendu",
                  label: "Résultat",
                  class:'form-control' %>
      <%= f.input :target,
                  as: :text,
                  placeholder: "Pour quel but (pourquoi ?)",
                  label: "But",
                  class:'form-control' %>
      <%= f.submit 'Mettre à jour', class: 'btn btn-default' %>
  <% end %>
</div>

<%= link_to 'Liste des échéances', domain_deadlines_path(@domain) %>
