<div class="panel panel-default">
  <div class="panel-heading">

    <h1>Modifier domaine</h1>
    <p>
      <%= link_to 'Retour', :back %> |
      <%= link_to 'Voir', @domain %> |
      <%= link_to 'Liste des domaines', domains_path %>
    </p>
  </div>

  <div class="content">
    <%= simple_form_for @domain, class: 'form-horizontal' do |f| %>
        <div class="form-group">
          <%= f.input :name,
                      label: "Nom" %>
        </div>
        <div class="form-group">
          <%= f.input :note,
                      collection: 1..10,
                      label: "Note"
            %>
        </div>

        <div class="form-group">
          <%= f.input :description,
                      as: :text,
                      label: "Description"
          %>
        </div>

        <div class="form-group">
          <%= f.input :explanation,
                      label: "Explication de la note",
                      as: :wysihtml5,
                      wysihtml5: { locale: "fr-FR", toolbar: {'font-styles': false, 'color': true, 'image':false, 'blockquote': false } }
          %>
        </div>

        <%= f.submit 'Mettre à jour', class: 'btn btn-default' %>
    <% end %>

  </div>
</div>