<p id="notice"><%= notice %></p>

<h1><%= @domain.name %> <%= @domain.note %><br />
  <small><%= @domain.description %></small></h1>

<p>
  <%= @domain.explanation %>
</p>
<p><%= link_to 'Retour', domains_path %> | <%= link_to 'Modifier', edit_domain_path(@domain) %></p>

