<p id="notice"><%= notice %></p>

<h1>Réalisations pour l'année</h1>

<table class="table">
  <thead>
    <tr>
      <th>Mois</th>
      <th>Résultat</th>
      <th>But</th>
      <th>Échéances</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @month_actions.each do |month_action| %>
      <tr>
        <td><%= l(month_action.month, format: :month) %></td>
        <td><%= month_action.result %></td>
        <td><%= month_action.target %></td>
        <td>
          <% if month_action.deadline %>
            <%= domain = month_action.deadline.domain
                link_to domain.name, domain_deadlines_path(domain) %></td>
          <% end %>
        <td>
          <%= link_to raw('<span class="glyphicon glyphicon-edit" />'),
                      edit_month_action_path(month_action),
                      title: "Modifier"
          %> |
          <%= link_to raw('<span class="glyphicon glyphicon-remove" />'),
                      month_action,
                      title: "Supprimer",
                      method: :delete,
                      data: { confirm: 'Sûr ?' }
          %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nouvelle action', new_month_action_path %>
